* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}

/*Cabeçalho do site*/

header {
    height: 100px;
    background-color: #215A60;
    color: #FFF;
}
.header {
    Max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

/*logo*/

.header_logo img{
    width: 100px;
    height: 70px;
    padding: 10px;
}

/*menu*/

.menu_opener{
    display: none;
}
.header_menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header_menu ul,
.header_menu li{
    list-style: none;
}

.header_menu ul{
    display: flex;
}

.header_menu li a{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid #215A60;
}

.header_menu li a:hover,
.header_menu .activ a{
    border-bottom: 3px solid #aae3bb;
    color: #ccc;
}

/*area do login*/
.cadastro{
    display: flex;
    height: calc(100vh - 155px);
    
}
/*area esquerda do login*/
.cadastro .cadastro_filtro{
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.cadastro_campo_esquerda{
    flex: 1;
    height: 100%;
    background-image: url(../image/img_hospital_banner.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

/*area direita do login*/
.cadastro_campo_direito{
    width: 400px;
    height: 100%;
    background-color: #edf1f2;
    padding: 50px;
}
.cadastro_campo_direito h1{
    margin-bottom: 20px;
    font-weight: 600;
}
.cadastro_campo_direito label{
    display: block;
    margin-bottom: 20px;
}
.cadastro_campo_direito a{
    text-decoration: none;
    color: #215A60;
    font-weight: 600;
}

.cadastro_campo_direito input{
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    outline: 0;
}
.cadastro_campo_direito .termo_login a{
   color: #000;
   font-weight: normal;
    
}

/*footer*/

footer {
    display: flex;
    background-color:#000;
    padding:20px;
    width: 100vw;
    
}
.footer_area {
    max-width:1140px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_area P{
    color:#999;
    line-height:10px;
    font-size:11px;
    padding:0 5px 5px 5px;
}

/* Responsividade Tablet*/

@media (min-width: 450px) and (max-width: 800px) {
    /*Área do menu*/
    .header_logo{
        margin-left: 30px;
    }
    .menu_opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh -100px);
        top: 100px;
        right: 0;
    }
    .header_menu ul {
        flex-direction: column;
    }
    .header_menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .header_menu li a:hover,
    .header_menu .activ a{
    border-bottom: 0;
}

/*Rodapé*/
.footer_area P{
    line-height:15px;
    font-size:13px;
    
}
.cadastro_campo_direito h1{
    margin-top: 50px;
}
<<<<<<< HEAD
=======

>>>>>>> 1e0924751317e612aef642033103ff85d32b3b61
}


/*Responsividade celular*/

@media (max-width: 450px) {
    
    /*Área do menu*/
    .header_logo{
        margin-left: 30px;
    }
    .menu_opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh -100px);
        top: 100px;
        right: 0;
    }
    .header_menu ul {
        flex-direction: column;
    }
    .header_menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }
    .header_menu li a:hover,
    .header_menu .activ a{
    border-bottom: 0;
}
.bg_login{
    padding-bottom: 30px;
}

.cadastro_campo_direito h1{
    margin-top: 50px;
}

/*Rodapé*/
.footer_area P{
    line-height:10px;
    font-size:7px;
    
}
}

/* Estilo para Erro*/

.error {
    font-size: 12px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    border-radius: 4px;
}