* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/*Cabeçalho do site*/

header {
    height: 100px;
    background-color: #215A60;
}
.header {
    Max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

/*logo do site*/

.header_logo img{
    width: 100px;
    height: 70px;
    padding: 10px;
}

/*menu do site*/

.header_menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header_menu ul,
.header_menu li{
    list-style: none;
}

.header_menu ul{
    display: flex;
}

.header_menu li a{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid #215A60;
}

.header_menu li a:hover,
.header_menu .activ a{
    border-bottom: 3px solid #aae3bb;
    color: #ccc;
}
/*Estrutura padrão*/

.default{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section_title{
    font-size: 20px;
}
.default .section_desc{
    font-size: 12px;
    color: #acacac;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section_body{
    max-width: 1140px;
    margin: auto;
}
.default.light{
    background-color: #F7F7F7;
}
.default.light .section_title,
.default.light .section_body{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .section_title,
.default.dark .section_body{
    color: #FFF;

}

.banner{

    height:calc(100vh - 100px);

    background-color: red;

    background-image: url(../image/img_hospital_banner.jpg);

    background-size: cover;

    background-position: center;

    overflow: hidden;

}

.banner .sliders {

    height: 100%;

    width: 200vw;

}

.banner .slide{

    height: 100%;

    width: 100vw;

    display: inline-block;

    background-color: rgba(0, 0, 0, 0.7);

}

.banner .slide_area{

    display: flex;

    flex-direction: column;

    height: 100%;

    text-align: center;

    justify-content: center;

    align-items: center;

    color: #FFF;

}

.banner h1{

    text-transform: uppercase;

    font-weight: bold;

    font-size: 50px;

}

.banner h1 span{

    color: #aae3bb;

}

.button{

    display: inline-block;

    background-color: #215A60;

    color: #FFF;

    text-transform: uppercase;

    font-size: 12px;

    font-weight: 600;

    margin-top: 30px;

    text-decoration: none;

    padding: 10px 30px;

    border-radius: 20px;

}

.banner .slidersPointers{

    width: 100vw;

    height: 20px;

    position: absolute;

    margin-top: -100px;

    display: flex;

    justify-content: center;

    align-items: center;

}

.banner .pointer{

    width: 15px;

    height: 15px;

    border: 2px solid #aae3bb;

    border-radius: 8px;

    margin-left: 5px;

    margin-right: 5px;

    cursor: pointer;

}

.banner .pointer.active{

    background-color: #aae3bb;

}
/*áreas específicas*/




/*wifi*/

.section_wifi{

    display: flex;

}




.section_wifi_left{

    flex: 1;

   

}

.section_wifi_left p{

    font-size: 14px;

    line-height: 25px;

    text-align: justify;

}

.section_wifi_left a.button{

    margin-left: 35%;

    margin-right: 35%;

}

.section_wifi_right{

    width: 520px;

    text-align: center;

}

.section_wifi_right img{

    width: 480px;

    box-shadow: 0px 5px 10px #333;

}
