* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}

/*Cabeçalho do site*/

header {
    height: 100px;
    background-color: #215A60;
    color: #FFF;
}
.header {
    Max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

/*logo*/

.header_logo img{
    width: 100px;
    height: 70px;
    padding: 10px;
}

/*menu*/

.header_menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header_menu ul,
.header_menu li{
    list-style: none;
}

.header_menu ul{
    display: flex;
}

.header_menu li a{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid #215A60;
}

.header_menu li a:hover,
.header_menu .activ a{
    border-bottom: 3px solid #aae3bb;
    color: #ccc;
}

/*Estrutura padrão*/

.default{
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section_title{
    font-size: 20px;
}
.default .section_desc{
    font-size: 12px;
    color: #acacac;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section_body{
    max-width: 1140px;
    margin: auto;
}
.default.light{
    background-color: #F7F7F7;
}
.default.light .section_title,
.default.light .section_body{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .section_title,
.default.dark .section_body{
    color: #FFF;

}

/*area wifi*/
.container{
    max-width: 1140px;
    margin: auto;
}

.header--area{
    display: flex;
    justify-content: space-between;
    height: 140px;
}

.header-left img{
    width: 100px;
    height: 100px;
}
.header-left h1{
    font-family: Oswald;
    font-size: 36px;
    color: #215A60;
}

.header--rigth{
    display: flex;
    align-items: center;
}

.header--menu{
    margin-left: 50px;
}

.header--logo img{
    width: 150px;
    height: 90px;
    cursor: pointer;
}

.container--panel-descricao{
    width: 1140px;
    height: 220px;
    background-color: #FFF;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.panel1 {
    height: 40px;
    width: 1140px;
    background-color: #ececec;
    text-align: center;
}

.panel1 h3 {
    color: #215A60;
    margin-top: 10px;
}

.panel1 p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
}

#wifi{
    display: flex;
    width: 1140px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.container--panel-wifi{
    width: 360px;
    height: 360px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    background-color: #FFF;
    display: flex;
    align-content: space-between;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

/*área calc*/
.container_area{
    width: 1140px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    background-color: #ececec;
  }

  .results {
    max-width: 400px;
    height: 306px;
    display: inline-block;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    background-color: #ececec;
  }

  .result-block {
    max-width: 400px;
    height: 80px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-content:space-between;
    background-color: #f8f7f7;    
  }

  p#resultadoRA {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
  }

  p#resultadoRV {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
  }

  /* #containerRA {
    max-width: 400px;
    display: inline-block;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    background-color: #ececec;
  } */
  
  h2 {
    text-align: center;
    color: #215a60;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
  }
  
  h3 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #215A60;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }



/*footer*/

footer {
    display: flex;
    background-color:#000;
    padding:20px;
    width: 100vw;
    height: 55px;   
}
.footer_area {
    max-width:1140px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_area P{
    color:#999;
    line-height:10px;
    font-size:11px;
    padding:0 5px 5px 5px;
}
main {
    height: calc(100vh - 175px);
}