* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}

main {
    height: calc(100vh - 155px);
}

/*Cabeçalho do site*/

header {
    height: 100px;
    background-color: #215A60;
    color: #FFF;
}
.header {
    Max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

/*logo*/

.header_logo img{
    width: 100px;
    height: 70px;
    padding: 10px;
}

/*menu*/

.menu_opener{
    display: none;
}

.header_menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header_menu ul,
.header_menu li{
    list-style: none;
}

.header_menu ul{
    display: flex;
}

.header_menu li a{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid #215A60;
}

.header_menu li a:hover,
.header_menu .activ a{
    border-bottom: 3px solid #aae3bb;
    color: #ccc;
}


/*area wifi*/
.panel-geral{
    width: 100vw;
    height: 100vh;
}
.container{
    max-width: 1140px;
    margin: auto;
}

.header--area{
    display: flex;
    justify-content: space-between;
    height: 140px;
}

.header-left img{
    width: 100px;
    height: 100px;
}
.header-left h1{
    font-family: Oswald;
    font-size: 36px;
    color: #215A60;
}

.header--rigth{
    display: flex;
    align-items: center;
}

.header--menu{
    margin-left: 50px;
}

.header--logo img{
    width: 150px;
    height: 90px;
    cursor: pointer;
}

.container--panel-descricao{
    width: 1140px;
    height: 200px;
    flex-direction: column;
    background-color: #FFF;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: #FFF;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.panel1 {
    height: 40px;
    width: 1140px;
    background-color: #ececec;
    text-align: center;
}

.panel1 h3 {
    margin-bottom: 10px;
    color: #215A60;
    margin-top: 10px;
}
.container--panel-descricao p{
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    text-align: justify;
}

#box-cleito {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
    margin-bottom: 20px;
}

#wifi{
    display: flex;
    width: 1140px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.container--panel-wifi{
    width: 360px;
    height: 360px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
    background-color: #FFF;
    display: flex;
    align-content: space-between;
    margin-top: 30px;
    background-color: #FFF;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

/*área calc*/
.container_area{
    width: 1140px;
    height: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding-top: 20px;
    
}
.container {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    background-color: #ececec;
  }

.container h3 {
    
    text-align: center;
}

  .results {
    max-width: 400px;
    height: 306px;
    display: inline-block;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    background-color: #ececec;
  }

  .result-block {
    width: 300px;
    height: 80px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-content:space-between;
    background-color: #f8f7f7;    
  }

  #containerRA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#containerRV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  p#resultadoRA {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
  }

  p#resultadoRV {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
  }

  
  h2 {
    text-align: center;
    color: #215a60;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #215A60;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }



/*footer*/

footer {
    display: flex;
    align-items: center;
    background-color:#000;
    padding:20px;
    width: 100vw;
    margin-top: 90px;
    height: 65px;   
}
.footer_area {
    max-width:1140px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_area P{
    color:#999;
    line-height:10px;
    font-size:11px;
    padding:0 5px 5px 5px;
}


@media (min-width: 450px) and (max-width: 800px) {
    /*Área do menu*/
    
    .header_logo {
        margin-left: 60px;
    }
    .menu_opener{
        display: block;
        width: 45px;
        margin-right: 60px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh -100px);
        top: 100px;
        right: 0;
    }
    .header_menu ul {
        flex-direction: column;
    }
    .header_menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }
    .header_menu li a:hover,
    .header_menu .activ a{
    border-bottom: 0;
}
/*Rodapé*/
.footer_area P{
    line-height:15px;
    font-size:13px;
    
}

/*wifi*/
.container--panel-descricao {

    width: 650px;
    height: 240px;
    margin-top: 90px;
    

}

.panel1{
    max-width: 650px;
    height: 40px;
    
}
.container--panel-descricao p{
    
    font-size: 13px;
    max-width: 600px;
    height: 100px;
    margin-top: 15px;
    line-height: 25px;
}

.container{
    width: 300px;
    height: 300px;
    justify-content: space-between;
}
#containerRA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#containerRV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_area{
    display: flex;
    width: 650px;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 60px;

} 
.container h2{
    font-size: 16px;
}
.container h3{
    font-size: 14px;
}
.container label{
    font-size: 14px;
}
.result-block{
    height: 40px;
}
.container button{
    margin-top: 10px;
    padding: 4px 16px;
}
.p#resultadoRA{
    font-size: 12px;

}
select{
    font-size: 15px;
}

.result-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-bottom: 30px;
}

main {
    height: calc(1024px - 345px);
}
.header{
    width: 100vw;
}


}

/*Responsividade celular*/

@media (max-width: 450px){
    /*Área do menu*/
    .header_logo{
        margin-left: 30px;
    }
    .menu_opener{
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh -100px);
        top: 100px;
        right: 0;
    }
    .header_menu ul {
        flex-direction: column;
    }
    .header_menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: 0;
    }
    .header_menu li a:hover,
    .header_menu .activ a{
    border-bottom: 0;
}

    
/*Rodapé*/
.footer_area P{
    line-height:15px;
    font-size:13px;
    
}

/*wifi*/
.container--panel-descricao {
    width: 350px;
    height: 200px;
    margin-top: 70px;  
}

.panel1{
    max-width: 350px;
    height: 40px; 
}
.container--panel-descricao p{
    font-size: 10px;
    width: 300px;
    height: 100px;
    margin-top: 15px;
    line-height: 15px;
    margin-left: 25px;
}

.container{
    width: 300px;
    height: 240px;
    justify-content: space-between;
}
#containerRA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#containerRV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_area{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

} 
.container h2{
    font-size: 14px;
}
.container h3{
    font-size: 12px;
}
.container label{
    font-size: 10px;
}
.result-block{
    height: 30px;
}
.container button{
    margin-top: 10px;
    padding: 2px 8px;
}
.p#resultadoRA{
    font-size: 8px;

}
select{
    font-size: 8px;
}

.result-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.footer_area P{
    color:#999;
    line-height:10px;
    font-size:10px;
    padding:0 5px 5px 5px;
}

}